/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$navy: #203842;
$teal: rgba(112, 193, 179, 1);
$turquoise: rgba(178, 219, 191, 1);
$lightblue: #A8DADC;
$blue: #247BA0;
$orange: #D96C06;
$yellow: rgba(244, 172, 69, 1)

//colors are displaying incorrectly on site. should i use a different color mode?