/* =============
    Banners
============= */

.banners{
    display: grid;

    .content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding-top: 20px;
        padding-bottom: 20px;

        a{
            color: white;
            text-decoration: none;

            img{
                display:inline-block;
                margin: 30px;
            }
        }

        .arrow{
            p{
                display: none;
            }
        }
    }

    p{
        color: white;
    }

    .banners-1{
        background-color: rgba(112, 193, 179, 1)
    }

    .banners-2{
        background-color: rgba(178, 219, 191, 1)
    }

    @include md{
        grid-template-columns: 3fr 5fr;
    }

    @include lg{
        grid-template-columns: 50% 50%;
    }
}