/* =============
    Banners
============= */

.banners{
    display: grid;

    .content{
        display:grid;
        grid-template-columns: 3fr 1fr;
    }

    .banners-1{
        background-color: teal
    }

    .banners-2{
        background-color: turquoise
    }

    @include md{
        grid-template-columns: 3fr 5fr;
    }

    @include lg{
        grid-template-columns: 50% 50%;
    }
}