/* =============
    Banners
============= */

.banners{
    .content{
        display:grid;
        grid-template-columns: 50% 50%;
    }
}

.banners-1{
    background-color: teal
}

.banners-2{
    background-color: turquoise
}