/* =============
    Popular Collections
============= */

.collections{
    img{
        width: 100%;
    }
}

.collections-1{
    background-color: #F4AC45;
}

.collections-2{
    background-color: #F4AC45;
}

.collections-3{
    background-color: #F4AC45;
}

.collections-4{
    background-color: #F4AC45;
}

.collections-5{
    background-color: #F4AC45;
}

