/* =============
    Popular Collections
============= */

.collections{
    img{
        width: 100%;
    }
}

.cards{
    display: grid;
    gap: 16px;
    grid-template-rows: auto;
    margin-bottom: 10px;

    .content{
        margin-bottom: 1em;
    }

    button{
        background-color: $orange;
        border: none;
        margin: 10px;
        height: 30px;
        width: 100px;
        text-align: center;
        color: white;

        &:hover{
            cursor: pointer;
        }
    }

    .collections-1{
        background-color: #F4AC45;
    }
    
    .collections-2{
        background-color: #F4AC45;
    }
    
    .collections-3{
        background-color: #F4AC45;
    }
    
    .collections-4{
        background-color: #F4AC45;
    }
    
    .collections-5{
        background-color: #F4AC45;
    }
        
//Have a feeling that I should be setting up columns like in the figma file but that wasnt working?? idk
    @include md{
        grid-template-columns: 50% 50%;
        padding: 16px;
    }

    @include lg{
        grid-template-columns: repeat(3, 1fr);
    }

    @include xl{
        padding-left: 194px;
        padding-right: 194px;
    }
}

