/* =============
    Photo Grid
============= */

.photo-grid{

    img{
        width: 100%
    }

    .image-3{
        display: none;

        @include xl{
            display: block;
        }


    }

    ul{
        list-style: none;
        padding:0;
    }

    @include md{
        display: grid;

            .image-1{
                float: left;
                width: 50%;
            }

            .image-2{
                float: right;
                width: 50%;
            }
    }

    @include lg{
        display: grid;

            .image-1{
                float: left;
                width: 60%;
            }

            .image-2{
                float: right;
                width: 40%;
            }
    }

    @include xl{
        grid-template-areas:
        "g1 g2"
        "g1 g3";
    }

}