/* =============
    Start Here
============= */

.start-here{
    display:grid;
    gap: 10px;

    .content{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "img content";
        margin-bottom: 1em;
    }

    .card-1{
        background-color: #247BA0;
    }
    
    .card-2{
        background-color: #247BA0
    }

    @include md{
        grid-template-columns: 50% 50%;
        padding: 16px;
    }

    @include xl{
        padding-left: 225px;
        padding-right: 225px;
    }
}


