/* =============
    Start Here
============= */

.start-here{
    margin-top: 10px;
    display:grid;
    gap: 10px;

    .content{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "img content";
        margin-bottom: 1em;

        h3{
            font-family: 'cabin';
            color: white;
        }

        button{
            background-color: $orange;
            border: none;
            margin: 10px;
            height: 30px;
            width: 100px;
            text-align: center;
            color: white;

            &:hover{
                cursor: pointer;
            }

        img{
            text-align: center;
        }

        }
        
    }

    .card-1{
        background-color: #247BA0;
        padding-top: 20px;
    }
    
    .card-2{
        background-color: #247BA0;
        padding-top: 20px;
    }

    @include md{
        grid-template-columns: 50% 50%;
        padding: 16px;
    }

    @include xl{
        padding-left: 225px;
        padding-right: 225px;
    }
}


