/* =============
    Start Here
============= */

.start-here{
    display:grid;
    grid-template-columns: 50% 50%;

    .subcontent{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .card-1{
        background-color: #247BA0;
    }
    
    .card-2{
        background-color: #247BA0
    }
}


