/* =============
    Footer
============= */

    .footer{
        display:grid;
        background-color: $navy;

        ul{
            list-style: none;
            padding:0;
        }
    }

    .follow{
        display:grid;

        ul{
            list-style: none;
            padding:0;
            display:grid;
            grid-template-columns: repeat(4, 1fr);
        }

    }

    //why doesnt background go over gutter too? maybe there is a problem with my variables