/* =============
    Footer
============= */

    footer{
        background-color: $navy;
        display:grid;

        ul{
            list-style: none;
            padding:0;
        }
    }

    .newsletter{
        button{
            background-color: $orange;
            border: none;
            margin: 10px;
            height: 30px;
            width: 100px;
            text-align: center;
            color: white;

            &:hover{
                cursor: pointer;
            }
        }

        input{
            height: 50px;
            width: 287px;

        }
    }

    .follow{
        display:grid;

        ul{
            list-style: none;
            padding:0;
            display:grid;
            grid-template-columns: repeat(4, 1fr);
        }

    }